body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Quadro-de-gr-fico-b-sico {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.imagem {
	border-color:#fbba00;
	border-width:1px;
	border-style:solid;
}
p.Normal {
	-epub-hyphens:none;
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Par-grafo-b-sico {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.credito {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:5px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:2.4;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.fonte {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.indicacoes {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.legenda {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.questao-1-, li.questao-1- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:6px;
	margin-left:28px;
	margin-right:0;
	margin-top:9px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.questao-a-, p.questao-a- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	list-style-position:outside;
	list-style-type:lower-alpha;
	margin-bottom:3px;
	margin-left:46px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:28px;
	text-transform:none;
	widows:1;
}
li.texto-bullet {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:48px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto-sem-recuo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.titulo-01 {
	-epub-hyphens:none;
	color:#fbba00;
	font-family:Calibri, sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.titulo-02 {
	-epub-hyphens:none;
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Tra-o {
	text-decoration:line-through;
}
span.bold {
	font-style:normal;
	font-weight:bold;
}
span.bullet {
	color:#ffdd94;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.numero-questao {
	color:#fbba00;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
p. {
	margin-bottom:0px;
	margin-top:0px;
	text-align:left;
}
p., li. {
	margin-top:9px;
	text-indent:0px;
}
p. {
	margin-bottom:0px;
	margin-top:0px;
}
p. {
	list-style-position:outside;
	list-style-type:none;
	margin-left:17px;
	text-indent:-17px;
}
p. {
	margin-left:28px;
}
li. {
	margin-top:40px;
	text-indent:0px;
}
p. {
	text-align:center;
}
li. {
	margin-bottom:0px;
	margin-top:62px;
	text-indent:0px;
}
li. {
	margin-bottom:0px;
	margin-top:60px;
	text-indent:0px;
}
li.0 {
	margin-bottom:0px;
	margin-top:77px;
	text-indent:0px;
}
li.1 {
	margin-left:19px;
	text-indent:0px;
}
p.2 {
	text-indent:142px;
}
p.3 {
	margin-top:11px;
}
p.4 {
	margin-top:20px;
}
p.5 {
	margin-bottom:3px;
	text-align:center;
	text-indent:28px;
}
p.6 {
	text-indent:166px;
}
p.7 {
	margin-top:3px;
	text-align:center;
	text-indent:28px;
}
p.8 {
	text-align:center;
	text-indent:28px;
}
p.9 {
	margin-top:3px;
	text-align:center;
}
p.0 {
	margin-top:3px;
}
p.1 {
	-epub-hyphens:none;
	text-align:center;
	text-indent:0px;
}
p.2 {
	text-align:left;
}
p.3 {
	margin-bottom:0px;
	margin-top:9px;
	text-indent:0px;
}
p.4 {
	margin-top:6px;
	text-align:right;
}
p.5 {
	margin-left:85px;
	margin-top:3px;
	text-align:right;
}
p.6, li.6 {
	text-indent:0px;
}
p.7 {
	margin-top:20px;
	text-align:left;
	text-indent:0px;
}
p.8 {
	margin-bottom:17px;
	margin-top:6px;
	text-align:left;
	text-indent:0px;
}
p.9 {
	margin-bottom:9px;
	margin-top:14px;
	text-align:left;
	text-indent:0px;
}
p.0 {
	margin-bottom:6px;
	margin-top:6px;
	text-align:center;
	text-indent:28px;
}
p.1 {
	margin-bottom:9px;
	margin-top:9px;
	text-align:center;
	text-indent:28px;
}
li.2 {
	margin-left:14px;
	text-indent:0px;
}
li.3 {
	margin-bottom:40px;
	margin-left:18px;
	text-indent:0px;
}
li.4 {
	margin-bottom:34px;
	margin-left:18px;
	text-indent:0px;
}
li.5 {
	margin-bottom:0px;
	text-indent:0px;
}
li.6 {
	margin-top:0px;
	text-indent:0px;
}
li.7 {
	margin-top:6px;
	text-indent:0px;
}
p.8 {
	margin-bottom:14px;
	margin-top:11px;
	text-align:center;
	text-indent:28px;
}
p.9 {
	margin-bottom:11px;
	margin-top:11px;
	page-break-after:always;
	text-align:center;
	text-indent:28px;
}
p.0 {
	margin-bottom:14px;
	margin-top:3px;
	text-align:center;
	text-indent:28px;
}
li.1 {
	margin-left:16px;
	text-indent:0px;
}
p.2 {
	margin-bottom:9px;
	margin-top:14px;
	text-align:center;
	text-indent:28px;
}
p. {
	margin-left:28px;
	page-break-after:always;
	text-indent:0px;
}
li.4 {
	margin-top:14px;
	text-indent:0px;
}
p.5 {
	margin-bottom:3px;
	margin-left:17px;
	text-align:center;
}
p.6 {
	margin-bottom:14px;
	margin-top:9px;
	text-align:center;
	text-indent:28px;
}
p.7 {
	margin-left:28px;
	text-indent:0px;
}
p.8 {
	margin-bottom:11px;
	margin-top:6px;
	text-align:center;
	text-indent:28px;
}
p.9 {
	margin-top:14px;
}
p.0 {
	margin-bottom:9px;
	margin-top:9px;
	text-align:center;
}
p.1 {
	margin-bottom:3px;
	margin-top:3px;
	text-align:center;
	text-indent:28px;
}
p.2 {
	margin-top:9px;
	text-align:center;
	text-indent:28px;
}
li.3 {
	margin-left:18px;
	margin-top:23px;
	text-indent:0px;
}
li.4 {
	margin-left:18px;
	margin-top:111px;
	text-indent:0px;
}
li.5 {
	margin-top:23px;
	text-indent:0px;
}
li.6 {
	margin-top:82px;
	text-indent:0px;
}
p.7 {
	margin-bottom:6px;
	margin-top:17px;
	text-align:center;
	text-indent:28px;
}
li.8 {
	margin-top:11px;
	text-indent:0px;
}
p.9 {
	margin-bottom:0px;
	text-align:center;
	text-indent:28px;
}
p.0 {
	list-style-position:inside;
	list-style-type:none;
	margin-left:28px;
	text-indent:0px;
}
p.1 {
	margin-left:28px;
	margin-top:9px;
}
p.2 {
	margin-left:34px;
}
li.3 {
	margin-bottom:11px;
	margin-left:54px;
	text-indent:0px;
}
p.4 {
	margin-bottom:11px;
	margin-top:14px;
}
li.5 {
	margin-left:54px;
	text-indent:0px;
}
p.6 {
	margin-top:6px;
}
li.7 {
	margin-bottom:6px;
	margin-top:6px;
	text-indent:0px;
}
li.8 {
	margin-bottom:6px;
	text-indent:0px;
}
p.9 {
	margin-bottom:8px;
	margin-top:4px;
	text-align:left;
}
p.0 {
	margin-bottom:3px;
	text-align:center;
	text-indent:0px;
}
p.1 {
	-epub-hyphens:none;
	margin-bottom:3px;
	text-align:center;
	text-indent:0px;
}
li.2 {
	margin-bottom:11px;
	text-indent:0px;
}
p.3 {
	margin-bottom:9px;
	margin-top:6px;
	text-align:center;
	text-indent:28px;
}
li.4 {
	margin-left:18px;
	margin-top:6px;
	text-indent:0px;
}
p.5 {
	list-style-position:inside;
	list-style-type:none;
	text-indent:0px;
}
p.6 {
	margin-bottom:6px;
	text-align:center;
	text-indent:28px;
}
p.7 {
	list-style-position:outside;
	list-style-type:none;
	text-indent:-28px;
}
li.8 {
	margin-bottom:17px;
	margin-top:14px;
	text-indent:0px;
}
p.9 {
	margin-bottom:14px;
	text-align:center;
	text-indent:28px;
}
p.0 {
	margin-bottom:11px;
	margin-top:3px;
}
p.1 {
	margin-bottom:14px;
	margin-top:6px;
	text-align:center;
	text-indent:28px;
}
li.2 {
	margin-top:3px;
	text-indent:0px;
}
li.3 {
	margin-left:18px;
	text-indent:0px;
}
p.4 {
	margin-top:6px;
	text-align:center;
}
p.5 {
	margin-top:11px;
	text-align:center;
	text-indent:28px;
}
li.6 {
	margin-left:33px;
	text-indent:0px;
}
span.CharOverride-1 {
	color:#575756;
}
span.CharOverride-2 {
	color:#575756;
	font-family:"Wingdings 3", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#575756;
	font-family:"AvantGarde Md BT", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#dea600;
}
span.CharOverride-5 {
	color:#000000;
}
span.CharOverride-6 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	color:#000000;
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-8 {
	color:#000000;
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-9 {
	color:#000000;
	font-family:"Symbol (TT) Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-12 {
	font-family:"Symbol (TT) Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#575756;
	font-family:"Fawn Script", sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#000000;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-15 {
	color:#000000;
	font-size:7px;
}
span.CharOverride-16 {
	color:#000000;
	font-size:7px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-17 {
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-18 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-19 {
	font-size:58%;
	font-style:normal;
	font-weight:bold;
	vertical-align:super;
}
span.CharOverride-20 {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-21 {
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-22 {
	font-size:6px;
}
span.CharOverride-23 {
	color:#ffffff;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
li._idGen {
	margin-left:18px;
}
#_idContainer000 {
	display:inline-block;
	height:717px;
	width:595px;
}
#_idContainer002 {
	display:inline-block;
	height:85px;
	position:relative;
	width:436px;
}
#_idContainer005 {
	display:inline-block;
	height:484px;
	width:595px;
}
#_idContainer006 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:36.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:247.32px;
	z-index:1;
}
#_idContainer007 {
	-ms-transform:translate(32.598px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(32.598px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:245.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(32.598px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(32.598px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:562.68px;
	z-index:0;
}
#_idContainer008 {
	display:inline-block;
	height:247px;
	position:relative;
	width:595px;
}
#_idContainer010, #_idContainer149, #_idContainer212 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:493.06px;
	z-index:0;
}
#_idContainer011 {
	-ms-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.77px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.57px;
	z-index:1;
}
#_idContainer012, #_idContainer151 {
	display:inline-block;
	height:22px;
	position:relative;
	width:497px;
}
#_idContainer015 {
	display:inline-block;
	height:223px;
	width:341px;
}
#_idContainer017, #_idContainer099 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.60px;
	z-index:0;
}
#_idContainer018, #_idContainer100 {
	-ms-transform:translate(1.856px,6.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.856px,6.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.856px,6.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.856px,6.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:29.74px;
	z-index:0;
}
#_idContainer019, #_idContainer101 {
	-ms-transform:translate(2.776px,2.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.776px,2.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.05px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(2.776px,2.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.776px,2.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:35.05px;
	z-index:1;
}
#_idContainer020, #_idContainer102 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.60px;
	z-index:1;
}
#_idContainer021, #_idContainer103 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.68px;
	z-index:0;
}
#_idContainer022, #_idContainer104 {
	-ms-transform:translate(25.432px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(25.432px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:38.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.432px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(25.432px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.68px;
	z-index:1;
}
#_idContainer023, #_idContainer105 {
	-ms-transform:translate(7.583px,21.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(7.583px,21.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(7.583px,21.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(7.583px,21.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.43px;
	z-index:0;
}
#_idContainer024 {
	display:inline-block;
	height:60px;
	position:relative;
	width:41px;
}
#_idContainer031 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:117.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:202.66px;
	z-index:0;
}
#_idContainer032 {
	-ms-transform:translate(7.370px,15.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(7.370px,15.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.56px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(7.370px,15.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(7.370px,15.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:190.63px;
	z-index:1;
}
#_idContainer033 {
	display:inline-block;
	height:120px;
	position:relative;
	width:205px;
}
#_idContainer034 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:201px;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:251px;
}
#_idContainer035 {
	display:inline-block;
	height:111px;
	width:167px;
}
#_idContainer036 {
	display:inline-block;
	height:132px;
	position:relative;
	width:259px;
}
#_idContainer038 {
	display:inline-block;
	height:48px;
	position:relative;
	width:48px;
}
#_idContainer039 {
	display:inline-block;
	height:31px;
	position:relative;
	width:74px;
}
#_idContainer043, #_idContainer044, #_idContainer045, #_idContainer046, #_idContainer047 {
	display:inline-block;
	height:113px;
	width:198px;
}
#_idContainer049 {
	display:inline-block;
	height:464px;
	width:332px;
}
#_idContainer050 {
	display:inline-block;
	height:456px;
	width:293px;
}
#_idContainer053 {
	display:inline-block;
	height:192px;
	width:248px;
}
#_idContainer056 {
	display:inline-block;
	height:254px;
	width:510px;
}
#_idContainer057 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:109.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:77.54px;
	z-index:0;
}
#_idContainer058 {
	-ms-transform:translate(18.511px,116.753px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(18.511px,116.753px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.74px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(18.511px,116.753px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(18.511px,116.753px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:41.51px;
	z-index:1;
}
#_idContainer059 {
	-ms-transform:translate(83.955px,51.032px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(83.955px,51.032px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.74px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(83.955px,51.032px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(83.955px,51.032px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:41.51px;
	z-index:2;
}
#_idContainer060 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:125.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:125.47px;
	z-index:1;
}
#_idContainer061 {
	-ms-transform:translate(141.356px,24.280px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(141.356px,24.280px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:62.50px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(141.356px,24.280px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(141.356px,24.280px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.61px;
	z-index:0;
}
#_idContainer062 {
	display:inline-block;
	height:125px;
	position:relative;
	width:281px;
}
#_idContainer064 {
	display:inline-block;
	height:234px;
	width:341px;
}
#_idContainer080, #_idContainer128, #_idContainer146 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:493.06px;
	z-index:0;
}
#_idContainer081, #_idContainer129, #_idContainer147 {
	-ms-transform:translate(5.422px,4.349px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.422px,4.349px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.51px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(5.422px,4.349px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.422px,4.349px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:161.27px;
	z-index:1;
}
#_idContainer082, #_idContainer130, #_idContainer148 {
	display:inline-block;
	height:24px;
	position:relative;
	width:497px;
}
#_idContainer098 {
	display:inline-block;
	height:380px;
	width:595px;
}
#_idContainer106 {
	-ms-transform:translate(-0.001px,3.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,3.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,3.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,3.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.60px;
	z-index:0;
}
#_idContainer107 {
	-ms-transform:translate(1.139px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.139px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.139px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.139px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.77px;
	z-index:0;
}
#_idContainer108 {
	-ms-transform:translate(0.000px,2.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,2.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,2.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.14px;
	z-index:1;
}
#_idContainer109 {
	-ms-transform:translate(20.539px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(20.539px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:15.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(20.539px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(20.539px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.91px;
	z-index:1;
}
#_idContainer110 {
	display:inline-block;
	height:63px;
	position:relative;
	width:41px;
}
# {
	display:inline-block;
	height:135px;
	width:297px;
}
#_idContainer137 {
	-ms-transform:translate(0.000px,0.000px) rotate(333.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(333.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:70px;
	transform:translate(0.000px,0.000px) rotate(333.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(333.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:56px;
}
#_idContainer138 {
	display:inline-block;
	height:77px;
	width:75px;
}
#_idContainer139 {
	display:inline-block;
	height:194px;
	width:138px;
}
#_idContainer140 {
	display:inline-block;
	height:70px;
	width:77px;
}
#_idContainer141 {
	display:inline-block;
	height:72px;
	width:88px;
}
#_idContainer142 {
	display:inline-block;
	height:102px;
	width:112px;
}
#_idContainer143 {
	display:inline-block;
	height:74px;
	width:38px;
}
#_idContainer150 {
	-ms-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.77px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:161.27px;
	z-index:1;
}
#_idContainer154 {
	-ms-transform:translate(80.508px,17.579px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(80.508px,17.579px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:79.58px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(80.508px,17.579px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(80.508px,17.579px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.65px;
	z-index:2;
}
#_idContainer155 {
	-ms-transform:translate(51.023px,85.160px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(51.023px,85.160px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:50.10px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(51.023px,85.160px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(51.023px,85.160px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.11px;
	z-index:0;
}
#_idContainer156 {
	-ms-transform:translate(0.000px,90.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,90.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:3.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,90.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,90.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:3;
}
#_idContainer157 {
	-ms-transform:translate(13.266px,88.653px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(13.266px,88.653px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.37px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(13.266px,88.653px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(13.266px,88.653px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.34px;
	z-index:8;
}
#_idContainer158 {
	-ms-transform:translate(80.508px,85.168px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(80.508px,85.168px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:29.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(80.508px,85.168px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(80.508px,85.168px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:84.12px;
	z-index:1;
}
#_idContainer159 {
	-ms-transform:translate(0.000px,0.339px) rotate(322.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.339px) rotate(322.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.339px) rotate(322.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.339px) rotate(322.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:0;
}
#_idContainer160 {
	-ms-transform:translate(0.350px,0.610px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.350px,0.610px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.350px,0.610px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.350px,0.610px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:1;
}
#_idContainer161 {
	-ms-transform:translate(50.896px,85.464px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(50.896px,85.464px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:4.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.896px,85.464px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(50.896px,85.464px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.28px;
	z-index:6;
}
#_idContainer162 {
	-ms-transform:translate(65.565px,79.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.565px,79.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.37px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(65.565px,79.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.565px,79.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.34px;
	z-index:9;
}
#_idContainer163 {
	-ms-transform:translate(0.000px,0.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:0;
}
#_idContainer164 {
	-ms-transform:translate(0.100px,0.339px) rotate(322.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.100px,0.339px) rotate(322.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.100px,0.339px) rotate(322.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.100px,0.339px) rotate(322.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:1;
}
#_idContainer165 {
	-ms-transform:translate(80.659px,68.244px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(80.659px,68.244px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:4.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(80.659px,68.244px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(80.659px,68.244px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.57px;
	z-index:4;
}
#_idContainer166 {
	-ms-transform:translate(80.957px,0.340px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(80.957px,0.340px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:3.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(80.957px,0.340px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(80.957px,0.340px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:5;
}
#_idContainer167 {
	-ms-transform:translate(82.817px,29.551px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(82.817px,29.551px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.37px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(82.817px,29.551px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(82.817px,29.551px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.34px;
	z-index:7;
}
#_idContainer168 {
	display:inline-block;
	height:93px;
	position:relative;
	width:99px;
}
#_idContainer170 {
	display:inline-block;
	height:156px;
	position:relative;
	width:0px;
}
#_idContainer171, #_idContainer172, #_idContainer173, #_idContainer185, #_idContainer186, #_idContainer187, #_idContainer194, #_idContainer195, #_idContainer204, #_idContainer205, #_idContainer206 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:10px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:0px;
}
#_idContainer178 {
	display:inline-block;
	height:340px;
	width:362px;
}
#_idContainer180, #_idContainer199 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:97px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:0px;
}
#_idContainer181, #_idContainer182, #_idContainer191, #_idContainer200, #_idContainer201, #_idContainer210 {
	display:inline-block;
	height:16px;
	position:relative;
	width:0px;
}
#_idContainer184, #_idContainer203 {
	display:inline-block;
	height:158px;
	position:relative;
	width:0px;
}
#_idContainer193 {
	display:inline-block;
	height:119px;
	position:relative;
	width:0px;
}
#_idContainer213 {
	-ms-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.77px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:95.92px;
	z-index:1;
}
#_idContainer214 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:497.06px;
	z-index:1;
}
#_idContainer215 {
	-ms-transform:translate(81.787px,0.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(81.787px,0.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(81.787px,0.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(81.787px,0.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:414.28px;
	z-index:0;
}
#_idContainer216 {
	display:inline-block;
	height:23px;
	position:relative;
	width:497px;
}
#_idContainer228 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:32.02px;
	z-index:0;
}
#_idContainer229 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.17px;
	z-index:1;
}
#_idContainer230 {
	-ms-transform:translate(0.000px,7.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,7.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,7.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,7.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.34px;
	z-index:0;
}
#_idContainer231 {
	-ms-transform:translate(38.976px,0.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(38.976px,0.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(38.976px,0.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(38.976px,0.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.34px;
	z-index:1;
}
#_idContainer232 {
	display:inline-block;
	height:13px;
	position:relative;
	width:83px;
}
img. {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img. {
	height:31px;
	width:79px;
}
img. {
	height:31px;
	width:93px;
}
img. {
	height:31px;
	width:73px;
}
img. {
	height:22px;
	width:70px;
}
img. {
	height:30px;
	width:105px;
}
img. {
	height:31px;
	width:78px;
}
img. {
	height:34px;
	width:87px;
}
img. {
	height:33px;
	width:104px;
}
img.0 {
	height:31px;
	width:84px;
}
img.1 {
	height:31px;
	width:94px;
}
img.2 {
	height:30px;
	width:78px;
}
img.3 {
	height:31px;
	width:66px;
}
img.4 {
	height:31px;
	width:68px;
}
img.5 {
	height:21px;
	width:74px;
}
img.6 {
	height:21px;
	width:64px;
}
img.7 {
	height:21px;
	width:73px;
}
img.8 {
	height:152px;
	width:181px;
}
img.9 {
	height:143px;
	width:223px;
}
img. {
	height:108px;
	width:115px;
}
img.1 {
	height:82px;
	width:147px;
}
img.2 {
	height:86px;
	width:99px;
}
img.3 {
	height:86px;
	width:139px;
}
img.4 {
	height:84px;
	width:189px;
}
img.5 {
	height:102px;
	width:198px;
}
img.6 {
	height:154px;
	width:165px;
}
img.7 {
	height:186px;
	width:186px;
}
img.8 {
	height:129px;
	width:230px;
}
img.9 {
	height:139px;
	width:231px;
}
img.0 {
	height:92px;
	width:224px;
}
img.1 {
	height:121px;
	width:162px;
}
img.2 {
	height:163px;
	width:404px;
}
img.3 {
	height:102px;
	width:147px;
}
img. {
	height:93px;
	width:170px;
}
img.5 {
	height:148px;
	width:162px;
}
img.6 {
	height:128px;
	width:202px;
}
img.7 {
	height:105px;
	width:185px;
}
img.8 {
	height:111px;
	width:135px;
}
img.9 {
	height:93px;
	width:192px;
}
img.0 {
	height:145px;
	width:249px;
}
img.1 {
	height:213px;
	width:221px;
}
img.2 {
	height:119px;
	width:128px;
}
img.3 {
	height:183px;
	width:106px;
}
img.4 {
	height:114px;
	width:208px;
}
img.5 {
	height:104px;
	width:182px;
}
img.6 {
	height:223px;
	width:233px;
}
img.7 {
	height:29px;
	width:74px;
}
img.8 {
	height:140px;
	width:220px;
}
img.9 {
	height:140px;
	width:155px;
}
img.0 {
	height:126px;
	width:176px;
}
img.1 {
	height:116px;
	width:197px;
}
img.2 {
	height:137px;
	width:189px;
}
img.3 {
	height:111px;
	width:174px;
}
img.4 {
	height:116px;
	width:213px;
}
img.5 {
	height:33px;
	width:12px;
}
img.6 {
	height:132px;
	width:214px;
}
img.7 {
	height:77px;
	width:150px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#0080c9;
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-5 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-color:#0080c9;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:2px;
}
div._idGenObjectStyleOverride-6 {
	background-color:#575756;
	border-width:0px;
}
div._idGenObjectStyleOverride-7 {
	background-color:#e0d6c4;
	border-width:0px;
}
div._idGenObjectStyleOverride-8 {
	background-color:#0073b3;
	border-width:0px;
}
div._idGenObjectStyleOverride-9 {
	background-color:#ffffff;
	border-color:#553957;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-10 {
	border-color:#e30613;
	border-style:solid;
	border-width:2px;
}
div._idGenObjectStyleOverride-11 {
	background-color:#fff1d7;
	border-width:0px;
}
div._idGenObjectStyleOverride-12 {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-13 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:2px;
}
div._idGenObjectStyleOverride-14 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-color:#f9b000;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:2px;
}
div._idGenObjectStyleOverride-15 {
	background-color:#ffe596;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-color:#575756;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:1px;
}
div._idGenObjectStyleOverride-16 {
	background-color:#ffcc00;
	border-color:#575756;
	border-style:dashed;
	border-width:1px;
}
div._idGenObjectStyleOverride-17 {
	background-color:#13a538;
	border-width:0px;
}
div._idGenObjectStyleOverride-18 {
	border-color:#0080c9;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-19 {
	background-color:#f9b000;
	border-width:0px;
}
div._idGenObjectStyleOverride-20 {
	border-color:#13a538;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-21 {
	background-color:#e3e3e3;
	border-width:0px;
}
div._idGenObjectStyleOverride-22 {
	background-color:#e30613;
	border-width:0px;
}
div. {
	text-align:center;
}
div._idGenObjectLayout-2 {
	margin:9px 13px 9px 13px;
}
div._idGenObjectLayout-3 {
	margin:-5px 5px -5px 5px;
}
div._idGenObjectLayout-4 {
	margin:-49px 49px -49px 49px;
}
.container {
    margin-left: 20%;
    margin-right: 20%;
	text-align: justify;
}
.titulo {
    font-size: 38px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
	text-align: left;
}
.mt40 {
     margin-top: 10px;
 }
 .titulo_intro {
    font-size: 42px;
    font-weight: bold;
    color: #0089cf;
	margin-bottom: 30px;
	padding-top: -30px;
}
.intro_mt40 {
     margin-top: -10px;
 }
.container {
    margin-left: 20%;
    margin-right: 20%;
	text-align: justify;
}
.numero0_2 {
	padding: 8px 8px 8px 8px;
	margin-left: 15%;
    background: rgba(243,243,243,255);
	border-radius: 20px;
    display: inline-block;
    color: rgba(56,179,229,255);
    page-break-before: auto;
    text-align: right;
    text-align-last: right;
    align-self: right;
}
.numero1 {
	padding: 8px 8px 8px 8px;
    background: rgba(243,243,243,255);
	border-radius: 20px;
    display: inline-block;
    color: rgba(56,179,229,255);
    page-break-before: auto;
    text-align: right;
    text-align-last: right;
    align-self: right;
}
.numero2 {
	padding: 10px 18px 10px 18px;
	margin-left: 20%;
    background: rgb(249, 176, 0);
	border-top: solid rgba(254,211,141,255) 6px;
    display: inline-block;
    color: #fff;
    page-break-before: auto;
    text-align: right;
    text-align-last: right;
    align-self: right;
}
.numero3 {
	padding: 10px 18px 10px 18px;
    background: rgb(249, 176, 0);
	border-top: solid rgba(254,211,141,255) 6px;
    display: inline-block;
    color: #fff;
    page-break-before: auto;
    text-align: right;
    text-align-last: right;
    align-self: right;
}

/*-------------C A R T Õ E S ---------------*/
.card {
  position: relative;
  top: 0;
  margin-left: 10%;
  border: 1px solid rgb(249, 176, 0);
  border-radius: 3px;
  background-color: rgb(254, 236, 205);
}
.cardTexto {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cardFoto {
  text-align: center;
  display: block;
  width: 70%;
  border: 1px;
  margin: 10%;
  padding: 1rem;
  /*border: 1px solid rgb(249, 176, 0);*/
  border-radius: 10px;
  background-color: rgb(254, 236, 205);
}
.cardInfo{
  background-color: brown;
}
.cardIntro {
  text-align: center;
  display: block;
  width: 70%;
  border: 1px;
  margin: 10%;
}
.converse {
  display: block;
  width: 0.8fr;
  margin: 0% !important;
  padding: 0%;
  text-align: left !important;
  align-items: left;
}