body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Sombra, img.Sombra {
	border-style:solid;
}
div.Quadro-de-gr-fico-b-sico {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.imagem {
	border-color:#f9b000;
	border-width:1px;
	border-style:solid;
}
p.Par-grafo-b-sico {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.OBJETOS {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.credito {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:5px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:2.4;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.fonte {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.legenda {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.questao-1- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:6px;
	margin-left:28px;
	margin-right:0;
	margin-top:9px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.questao-a- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	list-style-position:outside;
	list-style-type:lower-alpha;
	margin-bottom:3px;
	margin-left:46px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto, li.texto {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:28px;
	text-transform:none;
	widows:1;
}
li.texto-bullet {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:48px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.titulo-01 {
	-epub-hyphens:none;
	color:#f9b000;
	font-family:Calibri, sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.titulo-02 {
	-epub-hyphens:none;
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.tra-o-texto {
	text-decoration:line-through;
}
p. {
	text-align:left;
}
p. {
	margin-top:9px;
	text-align:left;
}
p. {
	margin-bottom:9px;
	margin-top:6px;
	text-align:center;
	text-indent:28px;
}
p. {
	margin-bottom:11px;
	margin-top:6px;
	text-align:center;
	text-indent:28px;
}
li. {
	margin-top:3px;
	page-break-after:always;
	text-indent:0px;
}
p. {
	margin-top:14px;
	text-align:center;
	text-indent:14px;
}
p. {
	margin-top:6px;
	text-indent:14px;
}
p. {
	text-indent:14px;
}
li. {
	list-style-position:outside;
	list-style-type:disc;
	margin-left:32px;
	margin-top:3px;
	text-indent:0px;
}
p.0 {
	margin-left:9px;
	margin-right:9px;
}
p.1 {
	text-align:left;
	text-indent:0px;
}
p.2 {
	margin-bottom:0px;
	text-align:center;
	text-indent:0px;
}
p.3 {
	-epub-hyphens:none;
	margin-bottom:0px;
	text-align:center;
	text-indent:0px;
}
p.4 {
	margin-bottom:9px;
	margin-top:6px;
	text-align:center;
}
p.5 {
	margin-bottom:6px;
	margin-top:6px;
	text-align:center;
}
p.6 {
	margin-top:3px;
	text-align:center;
}
p.7 {
	text-align:center;
}
p.8 {
	margin-top:20px;
	text-align:left;
}
p.9 {
	margin-top:6px;
	text-align:center;
}
p.0 {
	margin-bottom:6px;
	margin-top:6px;
	text-align:center;
	text-indent:28px;
}
p.1 {
	margin-left:28px;
	text-align:left;
	text-indent:0px;
}
li.2 {
	text-indent:0px;
}
li.3 {
	margin-bottom:3px;
	margin-top:11px;
	text-indent:0px;
}
p.4 {
	margin-top:6px;
	text-align:center;
	text-indent:28px;
}
p.5 {
	margin-bottom:6px;
	margin-top:6px;
	text-indent:28px;
}
p.6 {
	margin-top:14px;
}
p.7 {
	margin-bottom:3px;
	text-align:left;
	text-indent:0px;
}
p.8 {
	text-align:center;
	text-indent:28px;
}
p.9 {
	margin-bottom:3px;
	margin-top:6px;
	text-align:center;
	text-indent:28px;
}
p.0 {
	margin-bottom:11px;
	margin-top:11px;
	text-align:center;
}
p.1 {
	margin-bottom:14px;
	margin-top:3px;
	text-align:center;
}
p.2 {
	margin-bottom:11px;
	margin-top:11px;
}
p.3 {
	margin-top:3px;
}
p.4 {
	margin-top:11px;
}
p.5 {
	margin-top:20px;
}
p.6 {
	margin-bottom:6px;
	margin-top:11px;
	text-align:center;
}
p.7 {
	margin-top:17px;
}
p.8 {
	margin-top:11px;
	text-align:center;
}
li.9 {
	margin-top:6px;
	text-indent:0px;
}
p.0 {
	margin-left:28px;
	margin-top:11px;
	text-align:center;
}
p.1 {
	page-break-after:always;
	text-align:center;
	text-indent:28px;
}
li.2 {
	margin-top:0px;
	text-indent:0px;
}
li. {
	margin-top:3px;
	text-indent:0px;
}
li.4 {
	margin-bottom:6px;
	text-indent:0px;
}
p.5 {
	margin-bottom:6px;
	margin-top:14px;
	text-align:center;
}
p.6 {
	margin-bottom:3px;
	text-align:center;
	text-indent:0px;
}
li.7 {
	margin-bottom:0px;
	margin-left:21px;
	text-indent:0px;
}
p.8 {
	page-break-after:always;
	text-align:right;
}
p.9 {
	margin-top:6px;
	page-break-after:always;
	text-align:center;
	text-indent:28px;
}
p.0 {
	margin-top:6px;
	page-break-after:always;
	text-align:right;
}
span.CharOverride-1 {
	color:#ffffff;
}
span.CharOverride-2 {
	color:#575756;
}
span.CharOverride-3 {
	color:#575756;
	font-family:"Wingdings 3", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#575756;
	font-family:"AvantGarde Md BT", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-5 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	font-size:10px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	font-size:10px;
}
span.CharOverride-8 {
	color:#575756;
	font-size:9px;
}
span.CharOverride-9 {
	font-size:13px;
}
span.CharOverride-10 {
	font-family:"Symbol (TT) Regular", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#575756;
	font-family:"Univers Condensed", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#575756;
	font-family:"Univers Condensed", sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	font-size:58%;
	font-style:normal;
	font-weight:bold;
	vertical-align:sub;
}
span.CharOverride-14 {
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-15 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-16 {
	font-family:"Symbol (TT) Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	color:#575756;
	font-size:8px;
}
span.CharOverride-18 {
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	font-family:Tiger, serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-20 {
	color:#ffffff;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
li._idGen {
	margin-left:18px;
}
#_idContainer000 {
	display:inline-block;
	height:717px;
	width:1191px;
}
#_idContainer003 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:37px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:197px;
}
#_idContainer004 {
	display:inline-block;
	height:179px;
	width:563px;
}
#_idContainer005, #_idContainer030, #_idContainer074, #_idContainer096, #_idContainer123, #_idContainer140 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:493.06px;
	z-index:0;
}
#_idContainer006 {
	-ms-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.77px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.57px;
	z-index:1;
}
#_idContainer007, #_idContainer032, #_idContainer076, #_idContainer098, #_idContainer125, #_idContainer142 {
	display:inline-block;
	height:22px;
	position:relative;
	width:497px;
}
#_idContainer008 {
	display:inline-block;
	height:158px;
	position:relative;
	width:440px;
}
#_idContainer010 {
	display:inline-block;
	height:203px;
	width:361px;
}
#_idContainer014 {
	display:inline-block;
	height:332px;
	width:587px;
}
#_idContainer015, #_idContainer149, #_idContainer161 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.60px;
	z-index:0;
}
#_idContainer016, #_idContainer150, #_idContainer162 {
	-ms-transform:translate(1.856px,6.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.856px,6.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.856px,6.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.856px,6.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:29.74px;
	z-index:0;
}
#_idContainer017, #_idContainer151, #_idContainer163 {
	-ms-transform:translate(2.776px,2.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.776px,2.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.05px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(2.776px,2.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.776px,2.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:35.05px;
	z-index:1;
}
#_idContainer018, #_idContainer152, #_idContainer164 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.60px;
	z-index:1;
}
#_idContainer019, #_idContainer153, #_idContainer165 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.68px;
	z-index:0;
}
#_idContainer020, #_idContainer154, #_idContainer166 {
	-ms-transform:translate(25.432px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(25.432px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:38.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.432px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(25.432px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.68px;
	z-index:1;
}
#_idContainer021, #_idContainer155, #_idContainer167 {
	-ms-transform:translate(7.583px,21.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(7.583px,21.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(7.583px,21.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(7.583px,21.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.43px;
	z-index:0;
}
#_idContainer022, #_idContainer156, #_idContainer168 {
	-ms-transform:translate(-0.001px,3.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,3.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,3.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,3.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.60px;
	z-index:0;
}
#_idContainer023, #_idContainer157, #_idContainer169 {
	-ms-transform:translate(1.139px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.139px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.139px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.139px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.77px;
	z-index:0;
}
#_idContainer024, #_idContainer158, #_idContainer170 {
	-ms-transform:translate(0.000px,2.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,2.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,2.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.14px;
	z-index:1;
}
#_idContainer025, #_idContainer159, #_idContainer171 {
	-ms-transform:translate(20.539px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(20.539px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:15.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(20.539px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(20.539px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.91px;
	z-index:1;
}
#_idContainer026, #_idContainer160, #_idContainer172 {
	display:inline-block;
	height:63px;
	position:relative;
	width:41px;
}
#_idContainer027 {
	display:inline-block;
	height:136px;
	width:157px;
}
#_idContainer031, #_idContainer075, #_idContainer097, #_idContainer124, #_idContainer141 {
	-ms-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.77px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:161.27px;
	z-index:1;
}
#_idContainer036 {
	display:inline-block;
	height:140px;
	width:157px;
}
#_idContainer038 {
	display:inline-block;
	height:127px;
	width:171px;
}
#_idContainer040 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:549px;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:327px;
}
#_idContainer041 {
	-ms-transform:translate(0.000px,76.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,76.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,76.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,76.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:80.22px;
	z-index:13;
}
#_idContainer042 {
	-ms-transform:translate(1.325px,31.265px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.325px,31.265px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.325px,31.265px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.325px,31.265px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:80.22px;
	z-index:9;
}
#_idContainer043 {
	-ms-transform:translate(1.807px,35.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.807px,35.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.86px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.807px,35.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.807px,35.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:80.96px;
	z-index:12;
}
#_idContainer044 {
	-ms-transform:translate(15.715px,81.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.715px,81.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.86px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(15.715px,81.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.715px,81.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:50.49px;
	z-index:14;
}
#_idContainer045 {
	-ms-transform:translate(78.845px,71.516px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(78.845px,71.516px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(78.845px,71.516px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(78.845px,71.516px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:70.17px;
	z-index:4;
}
#_idContainer046 {
	-ms-transform:translate(79.519px,38.325px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(79.519px,38.325px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:10.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(79.519px,38.325px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(79.519px,38.325px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:38.65px;
	z-index:6;
}
#_idContainer047 {
	-ms-transform:translate(88.954px,17.640px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(88.954px,17.640px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:131.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(88.954px,17.640px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(88.954px,17.640px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:212.35px;
	z-index:0;
}
#_idContainer048 {
	-ms-transform:translate(128.239px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(128.239px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(128.239px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(128.239px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:136.01px;
	z-index:1;
}
#_idContainer049 {
	-ms-transform:translate(136.725px,5.846px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(136.725px,5.846px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.96px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(136.725px,5.846px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(136.725px,5.846px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:118.75px;
	z-index:2;
}
#_idContainer050 {
	-ms-transform:translate(206.610px,34.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(206.610px,34.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.610px,34.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(206.610px,34.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:106.86px;
	z-index:3;
}
#_idContainer051 {
	-ms-transform:translate(256.726px,85.298px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(256.726px,85.298px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(256.726px,85.298px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(256.726px,85.298px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:62.93px;
	z-index:5;
}
#_idContainer052 {
	-ms-transform:translate(304.915px,18.127px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(304.915px,18.127px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(304.915px,18.127px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(304.915px,18.127px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:80.22px;
	z-index:7;
}
#_idContainer053 {
	-ms-transform:translate(304.915px,22.832px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(304.915px,22.832px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.26px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(304.915px,22.832px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(304.915px,22.832px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:81.92px;
	z-index:10;
}
#_idContainer054 {
	-ms-transform:translate(311.662px,76.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(311.662px,76.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(311.662px,76.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(311.662px,76.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:80.22px;
	z-index:8;
}
#_idContainer055 {
	-ms-transform:translate(312.144px,81.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(312.144px,81.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.86px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(312.144px,81.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(312.144px,81.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:80.96px;
	z-index:11;
}
#_idContainer056 {
	display:inline-block;
	height:149px;
	position:relative;
	width:394px;
}
#_idContainer069 {
	display:inline-block;
	height:61px;
	width:124px;
}
#_idContainer071 {
	display:inline-block;
	height:463px;
	width:595px;
}
#_idContainer086 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:107.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:112.67px;
	z-index:1;
}
#_idContainer088 {
	-ms-transform:translate(130.087px,20.516px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(130.087px,20.516px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:66.35px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(130.087px,20.516px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(130.087px,20.516px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:269.60px;
	z-index:0;
}
#_idContainer089 {
	display:inline-block;
	height:107px;
	position:relative;
	width:400px;
}
#_idContainer090 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:115.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.62px;
	z-index:1;
}
#_idContainer093 {
	-ms-transform:translate(164.438px,28.754px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(164.438px,28.754px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.11px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(164.438px,28.754px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(164.438px,28.754px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:125.69px;
	z-index:0;
}
#_idContainer094 {
	display:inline-block;
	height:116px;
	position:relative;
	width:290px;
}
#_idContainer147 {
	display:inline-block;
	height:191px;
	width:108px;
}
#_idContainer173, #_idContainer193 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:74.11px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:92.21px;
	z-index:0;
}
#_idContainer174, #_idContainer194 {
	-ms-transform:translate(85.330px,37.649px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(85.330px,37.649px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.41px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(85.330px,37.649px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(85.330px,37.649px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:1;
}
#_idContainer175, #_idContainer195 {
	display:inline-block;
	height:74px;
	position:relative;
	width:100px;
}
#_idContainer176, #_idContainer178, #_idContainer179, #_idContainer180, #_idContainer181, #_idContainer182, #_idContainer183, #_idContainer184, #_idContainer196, #_idContainer198, #_idContainer199, #_idContainer200, #_idContainer201, #_idContainer202, #_idContainer203, #_idContainer204 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:12px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:0px;
}
#_idContainer177, #_idContainer197 {
	display:inline-block;
	height:367px;
	position:relative;
	width:0px;
}
#_idContainer213 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:493.06px;
	z-index:0;
}
#_idContainer214 {
	-ms-transform:translate(5.422px,4.446px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.422px,4.446px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.70px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(5.422px,4.446px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.422px,4.446px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:95.92px;
	z-index:1;
}
#_idContainer215 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:497.06px;
	z-index:1;
}
#_idContainer216 {
	-ms-transform:translate(81.787px,0.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(81.787px,0.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(81.787px,0.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(81.787px,0.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:414.28px;
	z-index:0;
}
#_idContainer217 {
	display:inline-block;
	height:25px;
	position:relative;
	width:497px;
}
#_idContainer229 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:32.02px;
	z-index:0;
}
#_idContainer230 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.17px;
	z-index:1;
}
#_idContainer231 {
	-ms-transform:translate(0.000px,8.907px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,8.907px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,8.907px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,8.907px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.34px;
	z-index:0;
}
#_idContainer232 {
	-ms-transform:translate(38.976px,0.029px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(38.976px,0.029px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(38.976px,0.029px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(38.976px,0.029px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.34px;
	z-index:1;
}
#_idContainer233 {
	display:inline-block;
	height:14px;
	position:relative;
	width:83px;
}
img. {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img. {
	height:119px;
	width:145px;
}
img. {
	height:160px;
	width:157px;
}
img. {
	height:120px;
	width:311px;
}
img. {
	height:115px;
	width:308px;
}
img. {
	height:118px;
	width:285px;
}
img. {
	height:105px;
	width:279px;
}
img. {
	height:106px;
	width:353px;
}
img. {
	height:113px;
	width:371px;
}
img.0 {
	height:109px;
	width:339px;
}
img.1 {
	height:108px;
	width:340px;
}
img.2 {
	height:118px;
	width:337px;
}
img.3 {
	height:119px;
	width:364px;
}
img.4 {
	height:125px;
	width:202px;
}
img.5 {
	height:135px;
	width:182px;
}
img.6 {
	height:104px;
	width:125px;
}
img.7 {
	height:193px;
	width:217px;
}
img.8 {
	height:134px;
	width:209px;
}
img.9 {
	height:125px;
	width:404px;
}
img. {
	height:157px;
	width:346px;
}
img.1 {
	height:19px;
	width:20px;
}
img.2 {
	height:20px;
	width:20px;
}
img.3 {
	height:20px;
	width:29px;
}
img.4 {
	height:121px;
	width:131px;
}
img.5 {
	height:19px;
	width:28px;
}
img.6 {
	height:136px;
	width:145px;
}
img.7 {
	height:133px;
	width:158px;
}
img.8 {
	height:148px;
	width:137px;
}
img.9 {
	height:124px;
	width:119px;
}
img.0 {
	height:31px;
	width:12px;
}
img.1 {
	height:134px;
	width:139px;
}
img.2 {
	height:170px;
	width:218px;
}
img.3 {
	height:67px;
	width:419px;
}
img. {
	height:171px;
	width:420px;
}
img.5 {
	height:30px;
	width:12px;
}
img.6 {
	height:36px;
	width:56px;
}
img.7 {
	height:158px;
	width:395px;
}
img.8 {
	height:165px;
	width:394px;
}
img.9 {
	height:131px;
	width:141px;
}
img.0 {
	height:19px;
	width:19px;
}
img.1 {
	height:138px;
	width:149px;
}
img.2 {
	height:143px;
	width:167px;
}
img.3 {
	height:157px;
	width:173px;
}
img.4 {
	height:148px;
	width:172px;
}
img.5 {
	height:131px;
	width:168px;
}
img.6 {
	height:17px;
	width:30px;
}
img.7 {
	height:132px;
	width:141px;
}
img.8 {
	height:20px;
	width:22px;
}
img.9 {
	height:19px;
	width:17px;
}
img.0 {
	height:146px;
	width:156px;
}
img.1 {
	height:33px;
	width:236px;
}
img.2 {
	height:31px;
	width:187px;
}
img.3 {
	height:97px;
	width:108px;
}
img.4 {
	height:118px;
	width:122px;
}
img.5 {
	height:18px;
	width:25px;
}
img.6 {
	height:102px;
	width:127px;
}
img.7 {
	height:114px;
	width:112px;
}
img.8 {
	height:99px;
	width:105px;
}
img.9 {
	height:112px;
	width:124px;
}
img.0 {
	height:109px;
	width:115px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#0080c9;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-color:#0080c9;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:2px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#ffffff;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-width:0px;
}
div._idGenObjectStyleOverride-6 {
	background-color:#575756;
	border-width:0px;
}
div._idGenObjectStyleOverride-7 {
	background-color:#e0d6c4;
	border-width:0px;
}
div._idGenObjectStyleOverride-8 {
	background-color:#0073b3;
	border-width:0px;
}
div._idGenObjectStyleOverride-9 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:2px;
}
div._idGenObjectStyleOverride-10 {
	background-color:#fff0d6;
	border-width:0px;
}
div._idGenObjectStyleOverride-11 {
	background-color:#fed892;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-color:#575756;
	border-style:solid;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-width:1px;
}
div._idGenObjectStyleOverride-12 {
	border-color:#e30613;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-13 {
	border-color:#0080c9;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-14 {
	background-color:#e3e3e3;
	border-width:3px;
}
div._idGenObjectStyleOverride-15 {
	background-color:#e30613;
	border-width:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div. {
	text-align:center;
}
div._idGenObjectLayout-2 {
	margin:80px -80px 80px -80px;
}
div._idGenObjectLayout-3 {
	margin:-111px 111px -111px 111px;
}
div._idGenObjectLayout-4 {
	margin:-7px 7px -7px 7px;
}
.container {
    margin-left: 20%;
    margin-right: 20%;
	text-align: justify;
}
.titulo {
    font-size: 38px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
	text-align: left;
}
.mt40 {
     margin-top: 10px;
 }
 .titulo_intro {
    font-size: 42px;
    font-weight: bold;
    color: #0089cf;
	margin-bottom: 30px;
	padding-top: -30px;
}
.intro_mt40 {
     margin-top: -10px;
 }
.container {
    margin-left: 20%;
    margin-right: 20%;
	text-align: justify;
}
.numero0_2 {
	padding: 8px 8px 8px 8px;
	margin-left: 15%;
    background: rgba(243,243,243,255);
	border-radius: 20px;
    display: inline-block;
    color: rgba(56,179,229,255);
    page-break-before: auto;
    text-align: right;
    text-align-last: right;
    align-self: right;
}
.numero1 {
	padding: 8px 8px 8px 8px;
    background: rgba(243,243,243,255);
	border-radius: 20px;
    display: inline-block;
    color: rgba(56,179,229,255);
    page-break-before: auto;
    text-align: right;
    text-align-last: right;
    align-self: right;
}
.numero2 {
	padding: 10px 18px 10px 18px;
	margin-left: 20%;
    background: rgb(249, 176, 0);
	border-top: solid rgba(254,211,141,255) 6px;
    display: inline-block;
    color: #fff;
    page-break-before: auto;
    text-align: right;
    text-align-last: right;
    align-self: right;
}
.numero3 {
	padding: 10px 18px 10px 18px;
    background: rgb(249, 176, 0);
	border-top: solid rgba(254,211,141,255) 6px;
    display: inline-block;
    color: #fff;
    page-break-before: auto;
    text-align: right;
    text-align-last: right;
    align-self: right;
}

/*-------------C A R T Õ E S ---------------*/
.card {
  position: relative;
  top: 0;
  margin-left: 10%;
  border: 1px solid rgb(249, 176, 0);
  border-radius: 3px;
  background-color: rgb(254, 236, 205);
}
.cardTexto {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cardFoto {
  text-align: center;
  display: block;
  width: 70%;
  border: 1px;
  margin: 10%;
  padding: 1rem;
  /*border: 1px solid rgb(249, 176, 0);*/
  border-radius: 10px;
  background-color: rgb(254, 236, 205);
}
.cardInfo{
  background-color: brown;
}
.cardIntro {
  text-align: center;
  display: block;
  width: 70%;
  border: 1px;
  margin: 10%;
}
.converse {
  display: block;
  width: 0.8fr;
  margin: 0% !important;
  padding: 0%;
  text-align: left !important;
  align-items: left;
}