body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Quadro-de-gr-fico-b-sico {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.imagem {
	border-color:#f9b000;
	border-width:1px;
	border-style:solid;
}
table.Tabela-b-sica {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Tabela-b-sica {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.Normal {
	-epub-hyphens:auto;
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Par-grafo-b-sico {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.credito {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:5px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:2.4;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.legenda {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.questao-1-, li.questao-1- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:6px;
	margin-left:28px;
	margin-right:0;
	margin-top:9px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.questao-a- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	list-style-position:outside;
	list-style-type:lower-alpha;
	margin-bottom:3px;
	margin-left:46px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.tabela-cabecalho {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.5;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.tabela-texto {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:28px;
	text-transform:none;
	widows:1;
}
li.texto-bullet {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:48px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.titulo-01 {
	-epub-hyphens:none;
	color:#f9b000;
	font-family:Calibri, sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.titulo-02 {
	-epub-hyphens:none;
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.numero-questao {
	color:#f9b000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.tra-o-superior {
	text-decoration:line-through;
}
table.TableOverride-1 {
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
}
td.CellOverride-1 {
	background-color:#f9b000;
	border-bottom-color:#f9b000;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	vertical-align:middle;
}
td.CellOverride-2 {
	border-bottom-color:#f9b000;
	border-left-color:#f9b000;
	border-right-color:#f9b000;
	border-top-color:#f9b000;
	padding-left:9px;
	vertical-align:middle;
}
td.CellOverride-3 {
	border-bottom-color:#f9b000;
	border-left-color:#f9b000;
	border-right-color:#f9b000;
	border-top-color:#f9b000;
	vertical-align:middle;
}
p. {
	text-align:right;
}
p. {
	list-style-position:outside;
	list-style-type:none;
	text-indent:-28px;
}
p. {
	margin-bottom:6px;
	margin-top:9px;
	text-align:center;
}
p. {
	margin-top:9px;
	text-align:center;
}
p. {
	margin-bottom:3px;
	margin-top:3px;
	text-align:center;
}
li. {
	margin-top:3px;
	text-indent:0px;
}
p. {
	margin-top:3px;
}
p. {
	margin-bottom:6px;
	margin-top:6px;
	text-align:center;
	text-indent:28px;
}
p. {
	margin-bottom:9px;
}
p.0 {
	margin-top:6px;
}
p.1 {
	margin-top:6px;
	text-align:center;
}
p.2 {
	text-align:center;
}
p.3 {
	margin-bottom:11px;
	margin-top:9px;
	text-align:center;
}
p.4 {
	margin-bottom:6px;
	margin-top:9px;
}
p.5 {
	margin-bottom:11px;
	margin-top:9px;
	text-align:center;
	text-indent:0px;
}
p.6 {
	margin-bottom:6px;
	text-align:center;
}
li.7, p.7 {
	text-indent:0px;
}
p.8 {
	margin-bottom:6px;
	margin-top:11px;
	page-break-after:always;
}
p.9 {
	margin-bottom:6px;
	margin-top:6px;
}
p.0 {
	text-align:center;
	text-indent:23px;
}
p.1 {
	margin-top:6px;
	text-align:center;
	text-indent:28px;
}
p.2 {
	margin-bottom:11px;
	margin-top:3px;
	text-align:center;
	text-indent:45px;
}
p.3 {
	margin-bottom:14px;
	margin-top:3px;
	text-align:center;
	text-indent:45px;
}
li.4 {
	margin-left:18px;
	margin-top:6px;
	text-indent:0px;
}
li.5 {
	margin-top:0px;
	text-indent:0px;
}
p.6 {
	margin-bottom:3px;
	margin-top:6px;
	text-align:center;
	text-indent:9px;
}
p.7 {
	margin-top:6px;
	page-break-after:always;
	text-align:center;
	text-indent:28px;
}
p.8 {
	text-align:center;
	text-indent:28px;
}
p.9 {
	margin-left:28px;
	margin-top:3px;
}
p.0 {
	text-align:left;
}
p.1 {
	margin-bottom:11px;
	margin-top:6px;
	text-align:center;
}
p.2 {
	margin-bottom:14px;
	margin-top:14px;
}
p.3 {
	margin-bottom:6px;
	margin-top:14px;
	text-align:center;
}
p.4 {
	list-style-position:outside;
	list-style-type:none;
	margin-left:43px;
	margin-top:0px;
	text-indent:-43px;
}
p.5 {
	list-style-position:outside;
	list-style-type:none;
	margin-left:43px;
	text-indent:-43px;
}
p.6 {
	margin-bottom:23px;
}
p.7 {
	list-style-position:outside;
	list-style-type:none;
	margin-bottom:3px;
	text-indent:-28px;
}
p.8 {
	list-style-position:inside;
	list-style-type:none;
	text-indent:0px;
}
p.9 {
	margin-top:9px;
}
p.0 {
	margin-bottom:6px;
	margin-top:3px;
	text-align:center;
}
li.1 {
	margin-bottom:9px;
	text-indent:0px;
}
p.2 {
	margin-top:3px;
	text-indent:28px;
}
p. {
	margin-bottom:17px;
	margin-top:14px;
	text-align:center;
	text-indent:28px;
}
li.4 {
	margin-top:6px;
	text-indent:0px;
}
p.5 {
	margin-bottom:26px;
	margin-top:26px;
}
p.6 {
	margin-bottom:11px;
}
p.7 {
	margin-left:48px;
	text-indent:0px;
}
p.8 {
	margin-left:48px;
	margin-top:6px;
	text-indent:0px;
}
p.9 {
	margin-left:48px;
	margin-top:20px;
}
p.0 {
	margin-bottom:29px;
}
li.1 {
	margin-bottom:3px;
	text-indent:0px;
}
p.2 {
	list-style-position:inside;
	list-style-type:none;
	margin-left:10px;
	margin-top:0px;
	text-indent:0px;
}
p.3 {
	margin-bottom:6px;
}
li.4 {
	margin-top:9px;
	text-indent:0px;
}
p.5 {
	margin-bottom:20px;
	margin-top:9px;
}
p.6 {
	margin-bottom:20px;
}
p.7 {
	margin-bottom:20px;
	text-align:center;
}
p.8 {
	margin-bottom:14px;
	margin-top:9px;
}
li.9 {
	margin-left:18px;
	text-indent:0px;
}
p.0 {
	list-style-position:outside;
	list-style-type:none;
	margin-top:0px;
	text-indent:-28px;
}
p.1 {
	margin-top:9px;
	text-align:center;
	text-indent:28px;
}
li.2 {
	margin-bottom:11px;
	text-indent:0px;
}
p.3 {
	list-style-position:outside;
	list-style-type:none;
	margin-top:3px;
	text-indent:-28px;
}
span.CharOverride-1 {
	color:#ffffff;
}
span.CharOverride-2 {
	color:#575756;
	font-family:"Wingdings 3", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#575756;
	font-family:"AvantGarde Md BT", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-4 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	font-family:"Symbol (TT) Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-8 {
	color:#000000;
}
span.CharOverride-9 {
	font-family:Calibri, sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:35px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-11 {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:33px;
	font-style:normal;
	font-weight:bold;
}
li._idGen {
	margin-left:20px;
}
li._idGen {
	margin-left:18px;
}
li._idGen, p._idGen {
	page-break-after:always;
}
col._idGenTableRowColumn-1 {
	width:104px;
}
col._idGenTableRowColumn-2 {
	width:92px;
}
col._idGenTableRowColumn-3 {
	width:161px;
}
tr._idGenTableRowColumn-4 {
	min-height:17px;
}
#_idContainer000 {
	display:inline-block;
	height:716px;
	width:1191px;
}
#_idContainer003 {
	display:inline-block;
	height:717px;
	position:relative;
	width:595px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:36.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:203.39px;
	z-index:1;
}
#_idContainer005 {
	-ms-transform:translate(32.598px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(32.598px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:201.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(32.598px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(32.598px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:562.68px;
	z-index:0;
}
#_idContainer006 {
	display:inline-block;
	height:203px;
	position:relative;
	width:595px;
}
#_idContainer007 {
	display:inline-block;
	height:101px;
	position:relative;
	width:493px;
}
#_idContainer008, #_idContainer085, #_idContainer167, #_idContainer175, #_idContainer195 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:493.06px;
	z-index:0;
}
#_idContainer009 {
	-ms-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.77px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.57px;
	z-index:1;
}
#_idContainer010, #_idContainer087, #_idContainer169, #_idContainer177 {
	display:inline-block;
	height:22px;
	position:relative;
	width:497px;
}
#_idContainer011 {
	display:inline-block;
	height:276px;
	width:449px;
}
#_idContainer016, #_idContainer098, #_idContainer114, #, #_idContainer152, #_idContainer187 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.60px;
	z-index:0;
}
#_idContainer017, #_idContainer115, #_idContainer133, #_idContainer153, #_idContainer188 {
	-ms-transform:translate(1.856px,6.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.856px,6.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.856px,6.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.856px,6.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:29.74px;
	z-index:0;
}
#_idContainer018, #_idContainer102, #_idContainer116, #_idContainer134, #_idContainer154, #_idContainer189 {
	-ms-transform:translate(2.776px,2.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.776px,2.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.05px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(2.776px,2.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.776px,2.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:35.05px;
	z-index:1;
}
#_idContainer019, #_idContainer103, #_idContainer117, #_idContainer135, #_idContainer155, #_idContainer190 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.60px;
	z-index:1;
}
#_idContainer020, #_idContainer104, #_idContainer118, #_idContainer136, #_idContainer156, #_idContainer191 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.68px;
	z-index:0;
}
#_idContainer021, #_idContainer105, #_idContainer119, #_idContainer137, #_idContainer157, #_idContainer192 {
	-ms-transform:translate(25.432px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(25.432px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:38.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.432px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(25.432px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.68px;
	z-index:1;
}
#_idContainer022, #_idContainer106, #_idContainer120, #_idContainer138, #_idContainer158, #_idContainer193 {
	-ms-transform:translate(7.583px,21.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(7.583px,21.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(7.583px,21.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(7.583px,21.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.43px;
	z-index:0;
}
#_idContainer023, #_idContainer139, #_idContainer194 {
	display:inline-block;
	height:60px;
	position:relative;
	width:41px;
}
#_idContainer082 {
	display:inline-block;
	height:167px;
	position:relative;
	width:595px;
}
#_idContainer083 {
	display:inline-block;
	height:236px;
	width:567px;
}
#_idContainer086, #_idContainer168, #_idContainer176 {
	-ms-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.77px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:161.27px;
	z-index:1;
}
#_idContainer091 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:118.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:609.45px;
	z-index:0;
}
#_idContainer092 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:42.69px;
	z-index:0;
}
#_idContainer093 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:42.52px;
	z-index:1;
}
#_idContainer094 {
	-ms-transform:translate(0.000px,7.659px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,7.659px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,7.659px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,7.659px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:42.69px;
	z-index:0;
}
#_idContainer095 {
	-ms-transform:translate(0.000px,20.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,20.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,20.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,20.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:42.69px;
	z-index:1;
}
#_idContainer096 {
	-ms-transform:translate(49.322px,60.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(49.322px,60.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.322px,60.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(49.322px,60.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:42.69px;
	z-index:1;
}
#_idContainer097 {
	display:inline-block;
	height:119px;
	position:relative;
	width:609px;
}
#_idContainer099 {
	-ms-transform:translate(24.775px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.775px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:24.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.775px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(24.775px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.78px;
	z-index:1;
}
#_idContainer100 {
	-ms-transform:translate(3.155px,2.973px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3.155px,2.973px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.155px,2.973px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.155px,2.973px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:19.25px;
	z-index:0;
}
#_idContainer101 {
	-ms-transform:translate(-1.244px,11.512px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-1.244px,11.512px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-1.244px,11.512px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-1.244px,11.512px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.78px;
	z-index:0;
}
#_idContainer107 {
	-ms-transform:translate(0.000px,0.994px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.994px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.994px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.994px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.60px;
	z-index:0;
}
#_idContainer108 {
	-ms-transform:translate(22.019px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(22.019px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:22.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(22.019px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(22.019px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:22.02px;
	z-index:1;
}
#_idContainer109 {
	-ms-transform:translate(4.424px,3.558px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4.424px,3.558px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.424px,3.558px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4.424px,3.558px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.19px;
	z-index:0;
}
#_idContainer110 {
	-ms-transform:translate(19.492px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(19.492px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(19.492px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(19.492px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:22.02px;
	z-index:1;
}
#_idContainer111 {
	display:inline-block;
	height:61px;
	position:relative;
	width:42px;
}
#_idContainer112 {
	display:inline-block;
	height:79px;
	width:189px;
}
#_idContainer113 {
	display:inline-block;
	height:121px;
	width:125px;
}
#_idContainer121, #_idContainer159 {
	-ms-transform:translate(-0.001px,3.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,3.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,3.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,3.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.60px;
	z-index:0;
}
#_idContainer122, #_idContainer160 {
	-ms-transform:translate(1.139px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.139px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.139px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.139px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.77px;
	z-index:0;
}
#_idContainer123, #_idContainer161 {
	-ms-transform:translate(0.000px,2.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,2.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,2.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.14px;
	z-index:1;
}
#_idContainer124, #_idContainer162 {
	-ms-transform:translate(20.539px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(20.539px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:15.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(20.539px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(20.539px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.91px;
	z-index:1;
}
#_idContainer125, #_idContainer163 {
	display:inline-block;
	height:63px;
	position:relative;
	width:41px;
}
#_idContainer126 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:493.06px;
	z-index:0;
}
#_idContainer127 {
	-ms-transform:translate(5.422px,5.128px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.422px,5.128px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:10.04px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(5.422px,5.128px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.422px,5.128px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:161.27px;
	z-index:1;
}
#_idContainer128 {
	display:inline-block;
	height:28px;
	position:relative;
	width:497px;
}
#_idContainer129 {
	display:inline-block;
	height:563px;
	position:relative;
	width:595px;
}
#_idContainer140 {
	display:inline-block;
	height:230px;
	width:281px;
}
#_idContainer173 {
	display:inline-block;
	height:223px;
	width:224px;
}
#_idContainer180 {
	display:inline-block;
	height:178px;
	width:207px;
}
#_idContainer181 {
	display:inline-block;
	height:47px;
	position:relative;
	width:252px;
}
#_idContainer182 {
	display:inline-block;
	height:396px;
	width:325px;
}
#_idContainer183 {
	display:inline-block;
	height:384px;
	position:relative;
	width:296px;
}
#_idContainer185 {
	display:inline-block;
	height:64px;
	width:472px;
}
#_idContainer196 {
	-ms-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.77px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.422px,3.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:95.92px;
	z-index:1;
}
#_idContainer197 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:497.06px;
	z-index:1;
}
#_idContainer198 {
	-ms-transform:translate(81.787px,0.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(81.787px,0.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(81.787px,0.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(81.787px,0.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:414.28px;
	z-index:0;
}
#_idContainer199 {
	display:inline-block;
	height:23px;
	position:relative;
	width:497px;
}
#_idContainer206 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:32.02px;
	z-index:0;
}
#_idContainer207 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.17px;
	z-index:1;
}
#_idContainer208 {
	-ms-transform:translate(0.000px,7.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,7.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,7.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,7.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.34px;
	z-index:0;
}
#_idContainer209 {
	-ms-transform:translate(38.976px,0.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(38.976px,0.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(38.976px,0.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(38.976px,0.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.34px;
	z-index:1;
}
#_idContainer210 {
	display:inline-block;
	height:13px;
	position:relative;
	width:83px;
}
img. {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img. {
	height:103px;
	width:183px;
}
img. {
	height:21px;
	width:9px;
}
img. {
	height:103px;
	width:366px;
}
img. {
	height:103px;
	width:367px;
}
img. {
	height:105px;
	width:282px;
}
img. {
	height:107px;
	width:376px;
}
img. {
	height:128px;
	width:325px;
}
img. {
	height:76px;
	width:419px;
}
img.0 {
	height:34px;
	width:142px;
}
img.1 {
	height:33px;
	width:98px;
}
img.2 {
	height:99px;
	width:238px;
}
img.3 {
	height:110px;
	width:228px;
}
img.4 {
	height:87px;
	width:131px;
}
img.5 {
	height:50px;
	width:170px;
}
img.6 {
	height:105px;
	width:133px;
}
img.7 {
	height:107px;
	width:133px;
}
img.8 {
	height:31px;
	width:12px;
}
img.9 {
	height:31px;
	width:19px;
}
img. {
	height:33px;
	width:19px;
}
img.1 {
	height:33px;
	width:18px;
}
img.2 {
	height:66px;
	width:205px;
}
img.3 {
	height:128px;
	width:228px;
}
img.4 {
	height:139px;
	width:132px;
}
img.5 {
	height:20px;
	width:8px;
}
img.6 {
	height:20px;
	width:9px;
}
img.7 {
	height:92px;
	width:296px;
}
img.8 {
	height:22px;
	width:7px;
}
img.9 {
	height:22px;
	width:8px;
}
img.0 {
	height:138px;
	width:294px;
}
img.1 {
	height:52px;
	width:419px;
}
img.2 {
	height:34px;
	width:83px;
}
img.3 {
	height:151px;
	width:158px;
}
img. {
	height:132px;
	width:132px;
}
img.5 {
	height:138px;
	width:159px;
}
img.6 {
	height:138px;
	width:99px;
}
img.7 {
	height:126px;
	width:152px;
}
img.8 {
	height:99px;
	width:172px;
}
img.9 {
	height:144px;
	width:163px;
}
img.0 {
	height:30px;
	width:45px;
}
img.1 {
	height:172px;
	width:363px;
}
img.2 {
	height:93px;
	width:419px;
}
img.3 {
	height:33px;
	width:71px;
}
img.4 {
	height:33px;
	width:74px;
}
img.5 {
	height:91px;
	width:109px;
}
img.6 {
	height:115px;
	width:166px;
}
img.7 {
	height:99px;
	width:103px;
}
img.8 {
	height:126px;
	width:204px;
}
img.9 {
	height:121px;
	width:201px;
}
img.0 {
	height:68px;
	width:208px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#575756;
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#0080c9;
	border-width:0px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-6 {
	background-color:#ffffff;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-width:0px;
}
div._idGenObjectStyleOverride-7 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-color:#0080c9;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:2px;
}
div._idGenObjectStyleOverride-8 {
	background-color:#e0d6c4;
	border-width:0px;
}
div._idGenObjectStyleOverride-9 {
	background-color:#0073b3;
	border-width:0px;
}
div._idGenObjectStyleOverride-10 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:2px;
}
div._idGenObjectStyleOverride-11 {
	background-color:#f0f0f0;
	border-width:0px;
}
div._idGenObjectStyleOverride-12 {
	background-color:#e30613;
	border-width:0px;
}
div._idGenObjectStyleOverride-13 {
	border-color:#e30613;
	border-style:solid;
	border-width:2px;
}
div._idGenObjectStyleOverride-14 {
	background-color:#fff0d6;
	border-width:0px;
}
div._idGenObjectStyleOverride-15 {
	background-color:#e3e3e3;
	border-width:0px;
}
div. {
	text-align:center;
}
.titulo {
    font-size: 38px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
	text-align: left;
}
.mt40 {
     margin-top: 10px;
 }
 .titulo_intro {
    font-size: 42px;
    font-weight: bold;
    color: #0089cf;
	margin-bottom: 30px;
	padding-top: -30px;
}
.intro_mt40 {
     margin-top: -10px;
 }
.container {
    margin-left: 20%;
    margin-right: 20%;
	text-align: justify;
}
.numero0_2 {
	padding: 8px 8px 8px 8px;
	margin-left: 15%;
    background: rgba(243,243,243,255);
	border-radius: 20px;
    display: inline-block;
    color: rgba(56,179,229,255);
    page-break-before: auto;
    text-align: right;
    text-align-last: right;
    align-self: right;
}
.numero1 {
	padding: 8px 8px 8px 8px;
    background: rgba(243,243,243,255);
	border-radius: 20px;
    display: inline-block;
    color: rgba(56,179,229,255);
    page-break-before: auto;
    text-align: right;
    text-align-last: right;
    align-self: right;
}
.numero2 {
	padding: 10px 18px 10px 18px;
	margin-left: 20%;
    background: rgb(249, 176, 0);
	border-top: solid rgba(254,211,141,255) 6px;
    display: inline-block;
    color: #fff;
    page-break-before: auto;
    text-align: right;
    text-align-last: right;
    align-self: right;
}
.numero3 {
	padding: 10px 18px 10px 18px;
    background: rgb(249, 176, 0);
	border-top: solid rgba(254,211,141,255) 6px;
    display: inline-block;
    color: #fff;
    page-break-before: auto;
    text-align: right;
    text-align-last: right;
    align-self: right;
}
